
.navBar {
    background-image: url(./images/background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 10rem;
}
.logoHeader {
    width: 20%;
    padding-left: 1rem;
}
.spotify-wrapper {
    width: 35%;
    padding-top: 1rem;
}

.showImg {
    border-radius: 1rem;
}

i {
    font-size: 60px;
}