
.navBar {
    background-image: url(./images/background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 10rem;
}
.logoHeader {
    width: 20%;
    padding-left: 1rem;
}
.spotify-wrapper {
    display: flex;
    justify-content: flex-end;;
  }
  
  .spotify-element {
      width: 100%;
      padding-top: 1rem;
  }
  
  @media screen and (min-width: 768px) {
    .spotify-element {
      width: 35%;
    }
  }

    
.showImg {
    border-radius: 1rem;
    cursor: zoom-in;
}


i {
    font-size: 60px;
}

/* Style the overlay */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
    
  }

  /* Style the image */
  .overlay img {
    display: block;
    margin: auto;
    max-width: 95%;
    max-height: 95%;
  }